<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu xmlns="http://openbox.org/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://openbox.org/
                file:///usr/share/openbox/menu.xsd">

<menu id="root-menu" label="Antigravity Workspace">
  <item label="Google Antigravity (Agent UI)">
    <action name="Execute"><execute>antigravity</execute></action>
  </item>
  <item label="Antigravity IDE">
    <action name="Execute"><execute>antigravity-ide</execute></action>
  </item>
  <item label="Terminal">
    <action name="Execute"><execute>xterm -fa 'Monospace' -fs 12 -bg '#1a1b2e' -fg '#e0e0e0' -geometry 100x35</execute></action>
  </item>
  <item label="Google Chrome">
    <action name="Execute"><execute>google-chrome-stable</execute></action>
  </item>
  <separator />
  <item label="Reconfigure Openbox">
    <action name="Reconfigure" />
  </item>
  <item label="Restart Openbox">
    <action name="Restart" />
  </item>
  <separator />
  <item label="Exit VDI Desktop">
    <action name="Exit" />
  </item>
</menu>

</openbox_menu>
